/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Proxima Nova";
  src: url('assets/fonts/Proxima Nova Font.otf');
}

body {
  font-family: "Proxima Nova";
}

.hide-scrollbar {
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, Edge */
}

hr {
  display: block;
  height: 1px;
  border: 0;
  /* border-top: 1px solid #111827; */
  border-top: 1px solid #D0D5DD;
  

  margin: 1em 0;
  padding: 0;
}


